{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Travel JD XC {% endblock title %}</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets_1/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets_1/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet"> -->


  <!-- Vendor CSS Files -->
  <link href="{% static 'assets_1/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets_1/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets_1/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets_1/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets_1/vendor/line-awesome/css/line-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets_1/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets_1/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets_1/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Serenity - v2.0.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  {% block custom_css %}{% endblock %}

</head>

<body>
  {% include 'snippets/header_1.html' %}

  <!-- Body -->
  {% block content %}{% endblock content %}
  <!-- End Body -->

  {% include 'snippets/footer_1.html' %}

  <!-- Vendor JS Files -->
  <script src="{% static 'assets_1/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets_1/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets_1/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets_1/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets_1/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets_1/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets_1/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets_1/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets_1/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets_1/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets_1/js/main.js' %}"></script>

  <script type="text/javascript">
    var user = '{{ request.user }}'

    function getToken(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getToken('csrftoken')

    function getCookie(name) {
      // Split cookie string and get all individual name=value pairs in an array
      var cookieArr = document.cookie.split(";");

      // Loop through the array elements
      for (var i = 0; i < cookieArr.length; i++) {
        var cookiePair = cookieArr[i].split("=");

        /* Removing whitespace at the beginning of the cookie name
        and compare it with the given string */
        if (name == cookiePair[0].trim()) {
          // Decode the cookie value and return
          return decodeURIComponent(cookiePair[1]);
        }
      }

      // Return null if not found
      return null;
    }
    var cart = JSON.parse(getCookie('cart'))

    if (cart == undefined) {
      cart = {}
      console.log('Location Created!', cart)
      document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
    }
    console.log('Location:', cart)

  </script>

<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->

<script type="text/javascript" src="{% static 'js/location.js' %}"></script>

  {% block custom_js %}{% endblock %}

</body>

</html>