{% extends 'base_admin.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800"><a>From</a></h1>

  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Hotel From</h6>
      </div>
      <div class="card-body">

        <form class="form-horizontal" action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          {% comment %} {% include 'HotelApp/form-template.html'%} {% endcomment %}
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">submit</button>
            </div>
          </div>
        </form>

      </div>
  </div>
  
</div>

{% endblock %}