{% extends 'base_1.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>{% trans "Contact Important Places" %}</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
          <li>{% trans "Contact Important Places" %}</li>
        </ol>
      </div>
    </section>
    <!-- End Breadcrumbs -->


<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">

      <div class="row">

        {% for item in data.contact_list %}
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card" style="background-image: url({{ item.image.url }});">
            <div class="card-body">
              <h5 class="card-title"><a href="">{{ item }}</a></h5>
              <p class="card-text">{{ item }}</p>
              <div class="read-more"><a href="{% url 'general:contact_detail' item.pk %}"><i class="icofont-arrow-right"></i> ดูเพิ่มเติม</a></div>
            </div>
          </div>
        </div>
        {% endfor %}
        
    </div>
  </section><!-- End Features Section -->

</main>
{% endblock content %}