{% extends 'base_1.html' %}

{% load static %}
{% load i18n %}
<!-- {% get_current_language as LANGUAGE_CODE %} -->

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="fade-up">
    <h1>{% trans "Welcome to the travel website." %}</h1>
    <h2>{% trans "Kanchanaburi" %}</h2>
    <div class="container">
      <a href="{% url 'location:location_list' %}" class="btn-get-started scrollto">{% trans "Create Trip By Me" %}</a>
      <a href="{% url 'trip:trip_system_create' %}" class="btn-get-started scrollto">{% trans "Create Trip By System" %}</a>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-end">
        <div class="col-lg-11">
          <div class="row justify-content-end">

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box py-5">
                <i class="icofont-simple-smile"></i>
                <span data-toggle="counter-up">{{ data.location }}</span>
                <p>{% trans "Tourist attraction" %}</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box py-5">
                <i class="icofont-document-folder"></i>
                <span data-toggle="counter-up">{{ data.tags }}</span>
                <p>{% trans "Interesting tegs" %}</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box pb-5 pt-0 pt-lg-5">
                <i class="icofont-clock-time"></i>
                <span data-toggle="counter-up">{{ data.style }}</span>
                <p>{% trans "Tourism style" %}</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box pb-5 pt-0 pt-lg-5">
                <i class="icofont-award"></i>
                <span data-toggle="counter-up">{{ data.trip }}</span>
                <p>{% trans "Trips to choose" %}</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 video-box align-self-baseline">
          <img src="{% static 'assets_1/img/about.jpg' %}" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=Opb5uoMSxyU" class="venobox play-btn mb-4" data-vbtype="video"
            data-autoplay="true"></a>
        </div>

        <div class="col-lg-6 pt-3 pt-lg-0 content">
          <h3>{% trans "Organizing a private travel trip is easy." %}</h3>
          <p class="font-italic">{% trans "We can make your travel arrangements easier." %}</p>
          <ul>
            <li><i class="bx bx-check-double"></i> {% trans "Shorten the time for arranging travel trips" %}</li>
            <li><i class="bx bx-check-double"></i> {% trans "Calculate travel budgets automatically" %}</li>
            <li><i class="bx bx-check-double"></i> {% trans "Automatic calculation of travel distances" %}</li>
            <li><i class="bx bx-check-double"></i> {% trans "Automatically calculates travel duration" %}</li>
          </ul>
        </div>

      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="fade-in">

      <div class="text-center">
        <h3>{% trans "Contact" %}</h3>
        <p> {% trans "Contact" %}</p>
        <a class="cta-btn" href="#">{% trans "Contact" %}</a>
      </div>

    </div>
  </section><!-- End Cta Section -->

</main><!-- End #main -->



{% endblock content %}