{% extends 'base_1.html' %}

{% load static %}
{% load i18n %}
{% block title %} Location List {% endblock %}

{% load widget_tweaks %}

{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>{% trans "Tourist attraction" %}</h2>
          <p class="m-auto"><a class="btn btn-success" href="{% url 'location:search' %}">{% trans "Search" %}</a></p>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        <li>{% trans "Tourist attraction" %}</li>
      </ol>
      <!-- <ul class="text-right list-inline">สถานท่องเที่ยว</ul> -->
    </div>
  </section>
  <!-- End Breadcrumbs -->



  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container">
      <div class="row">
        {% for location in locations %}
        {% include 'location/snippets/location_snippet.html'%}
        {% endfor %}
      </div>

      <!-- <div class="blog-pagination" data-aos="fade-up">
        <ul class="justify-content-center">
          <li class="disabled"><i class="icofont-rounded-left"></i></li>
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
        </ul>
      </div> -->

    </div>
  </section><!-- End Blog Section -->

</main>
{% endblock %}


{% block custom_js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% endblock %}