

  <div class="container mt-4">
    <div class="container">
      <div class="card-body">

        <!-- Page Heading -->
        <!-- <h1 class="h3 mb-2 text-gray-800">สถานที่ท่องเที่ยว</h1> -->
        <!-- <p class="mb-4">If you want to add more Locations : <a href="{% url 'location:location_create' %}">Click</a></p> -->
        <!-- <p class="mb-4">DataTables: <a target="_blank" href="{% url 'location:location_create' %}">Add Location to Database</a>.</p> -->

        <!-- DataTales -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">ข้อมูลสถานที่ท่องเที่ยว</h6>
          </div>

          <!-- <a href="/">Add Location</a> -->

          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <!-- <thead class="thead-light"> -->
                <thead>
                  <tr>
                    <th>ชื่อสถานที่</th>
                    <th>หมวดหมู่</th>
                    <th>งบท่องเที่ยว</th>
                    <th>เวลาเปิด</th>
                    <th>เวลาปิด</th>
                    <th>ร้านค้า</th>
                    {% comment %} <th>แก้ไข</th>
                    <th>ลบ</th> {% endcomment %}
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ชื่อสถานที่</th>
                    <th>หมวดหมู่</th>
                    <th>งบท่องเที่ยว</th>
                    <th>เวลาเปิด</th>
                    <th>เวลาปิด</th>
                    <th>ร้านค้า</th>
                    {% comment %} <th>แก้ไข</th>
                    <th>ลบ</th> {% endcomment %}
                  </tr>
                </tfoot>
                <tbody id="output">
                  {% for location in locations %}
                  <tr>
                    <td><a href="{% url 'location:location_detail' location.pk %}">{{ location.name }}</a></td>
                    <td>{{ location.category }}</td>
                    <td>{{ location.cost }} บาท</td>
                    <td>{{ location.time_open }}</td>
                    <td>{{ location.time_close }}</td>
                    {% if location.shop %}
                    <td> มี </td>
                    {% else %}
                    <td> ไม่มี </td>
                    {% endif %}
                    {% comment %} <td><a href="{% url 'location:location_update' location.pk %}"> Edit </a></td>
                    <td><a href="{% url 'location:location_delete' location.pk %}"> Delete </a></td> {% endcomment %}
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="4">No Location in the database. <a href="{% url 'location:location_create' %}">Add the
                        first Location</a>.</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>