{% extends 'base_1.html' %}

{% load crispy_forms_tags %}

{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>Trip</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">หน้าหลัก</a></li>
        <li>ทริป</li>
      </ol>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section id="blog" class="blog">
    <div class="container">
      <h2 class="mb-3">Update your interests</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save changes</button>
        <a href="{% url 'active:quiz_list' %}" class="btn btn-outline-secondary">Nevermind</a>
      </form>
    </div>
  </section>

</main>
{% endblock %}