{% extends 'base_1.html' %}

{% load crispy_forms_tags %}

{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>Trip</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">หน้าหลัก</a></li>
        <li>ทริป</li>
      </ol>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section id="blog" class="blog">
    <div class="container">
      <!-- <div class="text-center"></div> -->
      <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0"
          aria-valuemax="100" style="width: {{ progress }}%"></div>
      </div>
      <h2 class="mb-3">{{ quiz.name }}</h2>
      <p class="lead">{{ question.text }}</p>
      <div class="card-body">
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Next →</button>
        </form>
      </div>
    </div>
  </section>

</main>

{% endblock %}