{% extends 'base_1.html' %}

{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>Trip</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">หน้าหลัก</a></li>
        <li>ทริป</li>
      </ol>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section id="blog" class="blog">
    <div class="container">
      {% include 'question/active/_header.html' with active='taken' %}
      <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Quiz</th>
              <th>Subject</th>
              <!-- <th>Score</th> -->
            </tr>
          </thead>
          <tbody>
            {% for taken_quiz in taken_quizzes %}
            <tr>
              <td>{{ taken_quiz.quiz.name }}</td>
              <td>{{ taken_quiz.quiz.subject.get_html_badge }}</td>
              <!-- <td>{{ taken_quiz.score }}</td> -->
            </tr>
            {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="3">You haven't completed any quiz yet.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>

</main>
{% endblock %}