{% extends 'base_admin.html' %}

{% load i18n %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800"><a href="/">{% trans "Partner Requests from Users" %}</a></h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{% trans "Hotel" %}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>{% trans "Company Name" %}</th>
              <th>{% trans "Email" %}</th>
              <th>{% trans "HQ Address" %}</th>
              <th>{% trans "Vision" %}</th>
            </tr>
          </thead>
          <tbody>

            <!-- Displays a list of all the partner Proposals sent to Check-In.com and an Accept/Refuse Button -->
            {% for proposal in proposals %}
            <tr>
              <td><a class="" href="#">{{ proposal.CompanyName }}</a></td>
              <td>{{ proposal.CompanyEmail }}</td>
              <td>{{ proposal.HQAddress }}</td>
              <td>{{ proposal.Vision }}</td>
              <td><a class="btn btn-success pull-right"
                  href="{% url 'hotel_admin:acceptproposal' proposal.id  %}">{% trans "Accept" %}</a></td>
              <td><a class="btn btn-danger pull-right"
                  href="{% url 'hotel_admin:declineproposal' proposal.id  %}">{% trans "Refuse" %}</a></td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a href="{% url 'hotel_admin:home'  %}" class="btn btn-info">{% trans "Back to Dashboard" %}.</a>

</div>

{% endblock %}