{% extends 'base_1.html' %}
{% load i18n %}
{% load static %}
{% load mathfilters %}
{% block content %}
<div class="row" style="padding-top: 5em; padding-bottom: 5em;">
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
			<form id="form">
				{%csrf_token%}
				<div class="form-row mt-4">
					<div class="col">
						<label>{% trans "Trip Name" %}</label>
						<input class="multisteps-form__input form-control" type="text" name="name" required id="id_name"
							placeholder="{% trans 'Examples: nature trips' %}" />
					</div>
					<div class="col">
						<label>{% trans "Person Number" %}</label>
						<input class="multisteps-form__input form-control" type="number" name="person_number" value="1"
							min="1" required placeholder="{% trans 'Person Number' %}" />
					</div>
				</div>

				{% if not request.user.is_authenticated %}
				<div class="form-row mt-4">
					<div class="col">
						<label>{% trans "Email" %}</label>
						<input class="multisteps-form__input form-control" type="email" name="email" required
							id="id_email" placeholder="{% trans 'Email' %}" />
					</div>
				</div>
				{% endif %}

				<div class="form-row mt-4">
					<div class="col">
						<label>{% trans "Location Start" %}</label>
						<select name="province" class="pick-animation__select form-control">
							<!-- <option value="">---------</option> -->
							{% for province in provinces %}
							<option value="{{ province }}">
								<datagrid>{{ province }}</datagrid>
							</option>
							{% endfor %}
						</select>
					</div>
					<div class="col">
						<label>{% trans "Tourism style" %}</label>
						<select name="styles" class="pick-animation__select form-control">
							<!-- <option value="">---------</option> -->
							{% for style in styles %}
							{% if LANGUAGE_CODE == 'en' %}
							<option value="{{ style.id }}">{{ style.en_name }}</option>
							{% else %}
							<option value="{{ style.id }}">{{ style.th_name }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-row mt-4">
					<div class="col">
						<label>{% trans "Type Adventure" %}</label>
						<select name="type_adventure" class="pick-animation__select form-control">
							<!-- <option value="">---------</option> -->
							{% for item in TypeAdventure %}
							<option value="{{ item }}">
								<datagrid>{{ item.label }}</datagrid>
							</option>
							{% endfor %}
						</select>
					</div>
					<div class="col">
						<label>{% trans "Suitable For The Season" %}</label>
						<select name="type_season" class="pick-animation__select form-control">
							<!-- <option value="">---------</option> -->
							{% for item in TypeSeason %}
							<option value="{{ item }}">{{ item.label }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col">
						<label>{% trans "Suitable Person" %}</label>
						<select name="suitable_person" class="pick-animation__select form-control">
							<!-- <option value="">---------</option> -->
							{% for item in SuitablePerson %}
							<option value="{{ item }}">{{ item.label }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-row mt-4">
					<div class="col">
						<label>{% trans "Time to start traveling" %}</label>
						<input class="multisteps-form__input form-control" type="text" name="time_start" id="time_start"
							pattern="[0-2][0-9]:[0-6][0-9]:[0-6][0-9]"
							placeholder="{% trans 'Example 09:00:00 (hour: minute: second)' %}" required />
					</div>
					<div class="col">
						<label>{% trans "Time of entering the accommodation" %}</label>
						<input class="multisteps-form__input form-control" type="text" name="time_hotel" id="time_hotel"
							pattern="[0-2][0-9]:[0-6][0-9]:[0-6][0-9]"
							placeholder="{% trans 'Example 09:00:00 (hour: minute: second)' %}" required />
					</div>
				</div>


				<div class="form-row mt-4">
					<div class="col">
						<label>{% trans "More Details" %}</label>
						<textarea class="multisteps-form__textarea form-control" name="description"
							placeholder="{% trans 'More Details' %}"></textarea>
					</div>
				</div>

				<hr>
				<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
			</form>
		</div>

		<br>
		<div class="text-center hidden" id="confirm-info">
			<small>{% trans "You cannot edit the trip" %}</small>
			<button class="btn btn-warning" id="make-confirm">{% trans "Confirm" %}</button>
		</div>

	</div>

	<div class="col-lg-6">
		<div class="box-element">
			<a class="btn btn-outline-success" href="{% url 'trip:trip_location' %}">&#x2190;
				{% trans "Back To Location List" %}</a>
			<hr>
			<h3>{% trans "Location Trip Summary" %}</h3>
			<hr>
			{% for item in items %}
			<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{{ item.location.image.all.0.image.url }}"></div>
				<div style="flex:2">
					<p>{{ item.location.name }}</p>
				</div>
				<div style="flex:1">
					<p>{{ item.location.cost|floatformat:2 }} {% trans "BTH" %}</p>
				</div>
				<div style="flex:1">
					<p>{{ item.time }} {% trans "minute" %}</p>
				</div>
			</div>
			{% endfor %}
			<h5>{% trans "Time" %}: {{ order.get_time_items }} {% trans "minute" %} {% trans "or" %} {{ order.get_time_items|div:60 }} {% trans "hours" %}</h5>
			<h5>{% trans "Total" %}: {{ order.get_cost_total|floatformat:2 }} {% trans "BTH" %}</h5>
		</div>
	</div>
</div>
{% endblock content %}


{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap-material-datetimepicker.css' %}" />
{% endblock %}

{% block custom_js %}

<script src="https://code.jquery.com/jquery-1.12.3.min.js"
	integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
<script type="text/javascript"
	src="https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/js/material.min.js"></script>
<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-material-datetimepicker.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script type="text/javascript">
	$('#time_start').bootstrapMaterialDatePicker
		({
			date: false,
			shortTime: false,
			format: 'HH:mm:ss'
		});
	$('#time_hotel').bootstrapMaterialDatePicker
		({
			date: false,
			shortTime: false,
			format: 'HH:mm:ss'
		});

	// Swal.fire({
	// 	title: 'Are you sure?',
	// 	text: "You won't be able to revert this!",
	// 	icon: 'warning',
	// 	showCancelButton: true,
	// 	confirmButtonColor: '#3085d6',
	// 	cancelButtonColor: '#d33',
	// 	confirmButtonText: 'Yes, delete it!'
	// }).then((result) => {
	// 	if (result.value) {
	// 		Swal.fire(
	// 			'Deleted!',
	// 			'Your file has been deleted.',
	// 			'success'
	// 		)
	// 	}
	// })

	var total = '{{ order.get_cost_total|floatformat:2 }}'

	var form = document.getElementById('form')
	form.addEventListener('submit', function (e) {
		e.preventDefault()
		console.log('Form Submitted...')
		document.getElementById('form-button').classList.add("hidden");
		document.getElementById('confirm-info').classList.remove("hidden");
	})

	document.getElementById('make-confirm').addEventListener('click', function (event) {
		event.preventDefault()
		submitFormData()
	})

	function submitFormData() {
		console.log('Payment button clicked')

		var userFormData = {
			'name': null,
			'email': null,
			'total': total,
		}

		var tripInfo = {
			'name': null,
			'person_number': null,
			'location_srart': null,
			'trip_styles': null,
			'time_start': null,
			'time_hotel': null,
			'trip_description': null,
			'type_adventure': null,
			'type_season': null,
			'suitable_person': null,
		}

		tripInfo.name = form.name.value
		tripInfo.person_number = form.person_number.value
		tripInfo.location_srart = form.province.value
		tripInfo.trip_styles = form.styles.value

		tripInfo.time_start = form.time_start.value
		tripInfo.time_hotel = form.time_hotel.value
		tripInfo.trip_description = form.description.value

		tripInfo.type_adventure = form.type_adventure.value
		tripInfo.type_season = form.type_season.value
		tripInfo.suitable_person = form.suitable_person.value

		if (user == 'AnonymousUser') {
			userFormData.name = form.name.value
			userFormData.email = form.email.value
		}

		console.log('Trip Info:', tripInfo)
		console.log('User Info:', userFormData)

		var url = "{% url 'trip:process_order' %}"
		// var url = "/trip/process_order/"

		fetch(url, {
			method: 'POST',
			headers: {
				'Content-Type': 'applicaiton/json',
				'X-CSRFToken': csrftoken,
			},
			body: JSON.stringify({ 'form': userFormData, 'trip': tripInfo }),

		})
			.then((response) => response.json())
			.then((data) => {
				console.log('Success:', data);
				// alert('Trip completed');
				Swal.fire({
					icon: 'success',
					title: 'Your trip has been saved',
					showConfirmButton: false,
					timer: 1500
				}).then((result) => {
					// Generate URL without "id" bit
					var trip_detail = "{% url 'trip:trip_list' %}";
					// var token = $(this).attr(data);
					var token = data;
					var url = trip_detail + "detail" + "/" + token;

					cart = {}
					document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
					// Construct the full URL with "id"
					window.location.href = url;
				})
			})
	}
</script>
{% endblock %}