{% extends 'base_1.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="row" style="padding-top: 5em;">
	<div class="col-lg-12">
		<div class="box-element ml-4 mr-4">
			<div class="text-center">
			<a class="btn btn-outline-success" href="{% url 'location:location_list' %}" style="float: left;">&#x2190; {% trans "Choose Location" %}</a>
			<h5 style="padding-top: 5px;">{% trans "Choose attractions in your trip" %}</h5>			
			</div>
			<br>
			<br>
			<table class="table">
				<tr>
					<th>
						<h5>{% trans "Time" %}: <strong>{{ order.get_time_items }} {% trans "minute" %}</strong></h5>
					</th>
					<th>
						<h5>{% trans "Total" %}: <strong>{{ order.get_cost_total|floatformat:2 }} {% trans "BTH" %}</strong></h5>
					</th>
					<th>
						<a style="float:right; margin:5px;" class="btn btn-success"
							href="{% url 'trip:trip_summary' %}">{% trans "Summary" %}</a>
						<!-- <a style="float:right; margin:5px;" class="btn btn-outline-success" href="{% url 'trip:trip_summary' %}">{% trans "Summary" %} &#x2192; </a> -->
					</th>
				</tr>
			</table>

		</div>

		<br>
		<div class="box-element">
			<div class="cart-row">
				<div style="flex:1"></div>
				<div style="flex:2"><strong>{% trans "Place Name" %}</strong></div>
				<div style="flex:1"><strong>{% trans "Cost" %}</strong></div>
				<div style="flex:1"><strong>{% trans "Time" %}({% trans "minute" %})</strong></div>
				<div style="flex:1"><strong>{% trans "Delete" %}</strong></div>
			</div>
			{% if items %}
			{% for item in items %}
			<div class="cart-row">
				<div style="flex:1"><img class="row-image" src="{{ item.location.image.all.0.image.url }}"></div>
				<div style="flex:2">
					<p>{{ item.location.name }}</p>
				</div>
				<div style="flex:1">
					<p>{{ item.location.cost|floatformat:2 }} {% trans "BTH" %}</p>
				</div>
				<div style="flex:1">
					<p class="quantity">{{ item.time }}</p>
					<div class="quantity">
						<img data-location="{{ item.location.id }}" data-action="add" class="chg-time update-cart"
							src="{% static  'images/arrow-up.png' %}">
						<img data-location="{{ item.location.id }}" data-action="remove"
							class="chg-time update-cart" src="{% static  'images/arrow-down.png' %}">
					</div>
				</div>
				<div style="flex:1">
					<img data-location="{{ item.location.id }}" data-action="clear" class="icon-remove update-cart"  src="{% static  'images/trash.png' %}">
				</div>
			</div>
			{% endfor %}
			{% else %}
			<div class="text-center" >
				<p>{% trans "No Location" %}</p>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}

{% block custom_js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% endblock %}