{% extends 'base_2.html' %}

{% load i18n %}
{% load static %}

{% block title %} {% trans "Person Detail" %} {% endblock title %}
{% block content %}
<!-- ========================== Subhead ========================== -->
<section id="subintro">

  <div class="container">
    <div class="row">
      <div class="span4">
        <h3>{% trans "Trip" %} <strong>{{ trip }}</strong></h3>
      </div>
      <div class="span8">
        <ul class="breadcrumb notop">
          <li><a href="{% url 'home' %}">{% trans "Home" %}</a><span class="divider">/</span></li>
          <li><a href="{% url 'trip:trip_list' %}">{% trans "Trip" %}</li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>

<section id="maincontent">
  <div class="container">

    <h4 class="text-center"><a value="" id="url" onclick="Copy();">{% trans "Click to copy the URL of this link for easy trip" %}</a></h4>
    <h5 class="text-center"><a onclick="window.print()">{% trans "Click to print" %} <img class="icon-print" style="margin-left: 10px;"  src="{% static  'images/print.png' %}"></a></h5>
    
    <div>
      <input type="hidden" id="urlCopied" value="Copied!">
      <!-- <p>Paste: </p> <textarea id="urlCopied" rows="1" cols="30"></textarea> -->
    </div>
    <div class="row">
      <div class="span4">
        <div class="well">
          <div class="centered e_bounce">
            <i class="icon-bg-light icon-circled icon-group icon-3x active"></i>
            <h4><strong>{% trans "Tourism Budget" %}</strong></h4>
            <p>{{ cost }} {% trans "BTH" %}</p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="well">
          <div class="centered e_bounce">
            <i class="icon-bg-light icon-circled icon-rocket icon-3x active"></i>
            <h4><strong>{% trans "Travel Distance" %}</strong></h4>
            <p>{{ distance_km_all }} {% trans "Kilometer" %}</p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="well">
          <div class="centered e_bounce">
            <i class="icon-bg-light icon-circled icon-heart icon-3x active"></i>
            <h4><strong>{% trans "Travel Period" %}</strong></h4>
            {% if duration_all|length == 3 %}
            <p>{{ duration_all.0 }} {% trans "hours" %}, {{ duration_all.1 }} {% trans "minutes" %}, {{ duration_all.2 }} {% trans "seconds" %}</p>
            {% else %}
            <p>{{ duration_all.0 }} {% trans "days" %}, {{ duration_all.1 }} {% trans "hours" %}, {{ duration_all.2 }} {% trans "minutes" %}, {{ duration_all.3 }} {% trans "seconds" %}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="solid_line">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span8">
        <h4><a href="{% url 'trip:load_map' trip.token %}">{% trans "Travel Details" %}</a></h4>

        <!-- blank divider -->
        <!-- <div class="row">
          <div class="span12">
            <div class="blank10"></div>
          </div>
        </div> -->

        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <i class="icon-caret-down"></i> {% trans "The Trip" %} </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                {% trans "The Trip" %} <a href="{% url 'trip:load_map' trip.token %}"> {% trans "Tourist Map" %}</a>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>{% trans "Location Name" %}</th>
                      <th>{% trans "Time Spent" %}</th>
                      <th>{% trans "The Distance" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for location in location_description %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      {% for item in location %}
                      {% if item == 0 %}
                      <td>-</td>
                      {% else %}
                      <td>{{ item }}</td>
                      {% endif %}
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                <i class="icon-caret-right"></i> {% trans "Cost" %} {% trans "And" %} {% trans "Time Place" %} </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                {% trans "Cost" %}

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>{% trans "Location Name" %}</th>
                      <th>{% trans "Cost" %}</th>
                      <th>{% trans "Travel time" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for location in location_cost_time %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ location.0 }}</td>
                      <td>{{ location.1 }}</td>
                      <td>{{ location.2 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                <i class="icon-caret-right"></i> {% trans "Daily Details" %} </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                {% trans "Time" %}: {% trans "Travel Time" %} + {% trans "Departure Time" %}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>{% trans "Location Name" %}</th>
                      <th>{% trans "Date" %}</th>
                      <th>{% trans "Time" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for location in location_time %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ location.2}}</td>
                      <td>{{ location.0 }}</td>
                      <td>{{ location.1}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                <i class="icon-caret-right"></i> {% trans "More Details" %} </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
                <p><a href="{% url 'trip:load_map' trip.token %}">{% trans "Tourist Map" %}</a></p>
                <b>{{ trip.trip_description_text }}</b>
              </div>
            </div>
          </div>
        </div>
        <!--end: Accordion -->
      </div>

      <div class="span4">
        <aside>
          <div class="widget">
            <h4>{% trans "Overview" %}</h4>
            <ul class="cat">
              <li><a href="#">{% trans "Time Start" %} : {{ trip.time_start }} </a></li>
              <li><a href="#">{% trans "Time Hotel" %} : {{ trip.time_hotel }} </a></li>
              <li><a href="#">{% trans "Person Number" %} : {{ trip.person_number }}</a></li>
            </ul>
          </div>
          <div class="widget">
            <h4>{% trans "Category" %}</h4>
            <ul class="cat">
              {% for item in trip.category_sub.all %}
              <li><a href="#">{{ item }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="widget">
            <h4>{% trans "Tags" %}</h4>
            <ul class="tags">
              <!-- <ul class="cat"> -->
              {% for item in location_tags %}
              <li style="padding-bottom: 10px;"><a href="#">{{ item }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="solid_line">
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        {% for item in location_detail %}
        <div class="span4">
          <div class="short-div" style="padding-bottom: 3em;">
            <div class="features">
              <div class="icon">
                {% comment %} <i class="icon-bg-light icon-circled icon-code
                icon-5x active"></i> {% endcomment %}
                <i class="icon-bg-dark icon-circled icon-bug icon-5x"></i>
                {% comment %} <i class="icon-bg-dark icon-circled icon-android
                icon-5x"></i> {% endcomment %}

              </div>
              <div class="features_content">
                <h3>{{ item.0 }}</h3>
                <p class="left"> {{ item.1|safe|truncatechars:100 }}</p>
                <a href="{% url 'location:location_detail' item.0.pk %}" class="btn btn-color btn-rounded"><i
                    class="icon-angle-right"></i> {% trans "Read More" %}</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- blank divider -->
      <div class="row">
        <div class="span12">
          <div class="blank10"></div>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="cta-box">
            <div class="cta-text">
              <h2>{% trans "If an emergency occurs, you can contact at" %}</h2>
            </div>
            <div class="cta">
              <a class="btn btn-large btn-rounded btn-color" href="{% url 'general:contact_view' %}">
                <i class="icon-chevron-right"></i> {% trans "Find Numbers" %}</a>
            </div>
          </div>
          <!-- end tagline -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="solid_line">
        </div>
      </div>
    </div>

    <!--Trip Gallery Start-->
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <div class="title-border">
            <h1>{% trans "Pictures" %} <span>{% trans "Tourist attraction" %}</span></h1>
          </div>
        </div>
      </div>

      <!-- Gallery -->
      <div class="container">
        <div class="row">
          {% for images in image_list %}
          {% for image in images %}
          <img class="img-fluid" src="{{ image.image.url }}" alt="Food" width="300" height="300" />
          {% endfor %}
          {% endfor %}
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="solid_line">
      </div>
    </div>

  </div>
  <!-- blank divider -->
  <div class="row">
    <div class="span12">
      <div class="blank10"></div>
    </div>
  </div>

  </div>
</section>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">

  // window.onload = function () { 
  //   window.print(); 
  // }

  function Copy() {
    // var Url = document.getElementById("url");
    // Url.value = window.location.href;
    //         Url.focus();
    //         Url.select();  
    //         document.execCommand("Copy");
    // Url.innerHTML = window.location.href;
    // console.log(Url.innerHTML)
    // Url.select();
    // document.execCommand("copy");
    //var Url = document.createElement("textarea");
    urlCopied.innerHTML = window.location.href;
    copyToClipboard(urlCopied)
    // document.execCommand("copy");
    //Copied = Url.createTextRange();
    // Url.execCommand("Copy");
  }

  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(urlCopied).text()).select();

    document.execCommand("copy");
    $temp.remove();

    Swal.fire({
					icon: 'success',
					title: '{% trans "URL Copied Successfully" %}',
					showConfirmButton: false,
					timer: 1500
				})
  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}

{% block custom_css %}
<style>
  .short-div {
    height: 15em;
    width: 30em;
  }
</style>
<link href="{% static 'css/gallery.css' %}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% endblock %}