{% extends 'base_admin.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800"><a href="{% url 'question_admin:quiz_change_list' %}">{% trans "My Quizzes" %}</a></h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'question_admin:quiz_change_list' %}">{% trans "My Quizzes" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'question_admin:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Add a new question" %}</li>
    </ol>
  </nav>
  
  <h2 class="mb-3">{% trans "Add a new question" %}</h2>
  <p class="lead">{% trans "Add first the text of the question. In the next step you will be able to add the possible answers" %}.</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
    <a href="{% url 'question_admin:quiz_change' quiz.pk %}" class="btn btn-outline-secondary" role="button">{% trans "Nevermind" %}</a>
  </form>
</div>
{% endblock %}
