{% extends 'base_admin.html' %}

{% load i18n %}
{% load crispy_forms_tags humanize %}

{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800"><a href="https://datatables.net">{% trans "My Quizzes" %}</a></h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">{% trans "My Quizzes" %}</li>
    </ol>
  </nav>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'question_admin:quiz_change_list' %}">{% trans "My Quizzes" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'question_admin:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Results" %}</li>
    </ol>
  </nav>
  <h2 class="mb-3">{{ quiz.name }} {% trans "Results" %}</h2>

  <div class="card">
    <div class="card-header">
      <strong>{% trans "Taken Quizzes" %}</strong>
      <span class="badge badge-pill badge-primary float-right">{% trans "Average Score" %}: {{ quiz_score.average_score|default_if_none:0.0 }}</span>
    </div>
    <table class="table mb-0">
      <thead>
        <tr>
          <th>{% trans "Active" %}</th>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Score" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_quiz in taken_quizzes %}
          <tr>
            <td>{{ taken_quiz.active.user.username }}</td>
            <td>{{ taken_quiz.date|naturaltime }}</td>
            <td>{{ taken_quiz.score }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="card-footer text-muted">
      {% trans "Total respondents" %}: <strong>{{ total_taken_quizzes }}</strong>
    </div>
  </div>

</div>
{% endblock %}
