{% extends 'base_admin.html' %}

{% load i18n %}
{% load static %}

{% block content %}

<!-- List All the Hotels belonging to the Signed in partner , Linking to the Hotel Dashboard of each Hotel -->

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800"><a href="https://datatables.net">{% trans "Hotel" %}</a></h1>
  <p class="mb-4"><a target="_blank" href="{% url 'hotel_admin:hotel_create' %}">{% trans "List a New Hotel" %}</a>.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{% trans "Hotel" %}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>{% trans "Hotel Name" %}</th>
              <th>{% trans "Image" %}</th>
              <th>{% trans "Edit" %}</th>
              <th>{% trans "Delete" %}</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>{% trans "Hotel Name" %}</th>
              <th>{% trans "Image" %}</th>
              <th>{% trans "Edit" %}</th>
              <th>{% trans "Delete" %}</th>
            </tr>
          </tfoot>
          <tbody>
            {% for hotel in Hotels %}
            <tr>
              <td><a href="{% url 'hotel_admin:room_view' hotel.id %}">{{ hotel.th_name }}</a></td>
              <td><a href="{% url 'hotel_admin:photo_view' hotel.id %}">{% trans "Image" %}</a></td>
              <td><a href="{% url 'hotel_admin:hotel_update' hotel.id %}">{% trans "Edit" %}</a></td>
              <form action="{% url 'hotel_admin:hotel_delete' hotel.id %}" method="post">
                {% csrf_token %}
                <td><button type="submit" class="btn btn-danger pull-right">{% trans "Delete Hotel" %}</button></td>
              </form>
              <!-- <td><a href="{% url 'hotel_admin:hotel_delete' hotel.id %}">Delete</a></td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a class="btn btn-secondary pull-right" href="{% url 'hotel_admin:home' %}">{% trans "Back" %}</a>

</div>
<!-- /.container-fluid -->
{% endblock content %}

{% block custom_css %}
<!-- Custom styles for this page -->
<link href="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
<!-- Page level plugins -->
<script src="{% static 'admin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'admin/js/demo/datatables-demo.js' %}"></script>
{% endblock %}